<app-plantilla>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Ciudades</mat-card-title>
      <button mat-mini-fab color="primary" class="icono-acciones" align="end" (click)="agregar()" title="Nueva ciudad">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="obtenerCiudades$ | async" class="mat-elevation-z8 tabla-crud">

        <ng-container matColumnDef="codigoCiudad">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.codigoCiudad}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcionCiudad">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcionCiudad}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcionDepartamento">
          <th mat-header-cell *matHeaderCellDef> Departamento </th>
          <td mat-cell *matCellDef="let element"> {{element.departamento.descripcionDepartamento}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="primary" class="icono-acciones" (click)="editar(element.codigoCiudad)" title="Editar ciudad">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" class="icono-acciones" (click)="eliminar(element.codigoCiudad)" title="Eliminar ciudad">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['codigoCiudad', 'descripcionCiudad', 'descripcionDepartamento', 'acciones']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['codigoCiudad', 'descripcionCiudad', 'descripcionDepartamento', 'acciones'];"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</app-plantilla>
