<mat-toolbar color="primary">
  <p>
    PIAR
  </p>
</mat-toolbar>
<mat-card class="login-container">
  <mat-card-header>
    <mat-card-title>Iniciar sesión</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginFormGroup" class="example-form" (ngSubmit)="login()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="nombreTercero" />
          <mat-error *ngIf="checkError('nombreTercero', 'required')">Por favor ingrese el usuario</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput formControlName="contrasena" />
          <mat-error *ngIf="checkError('contrasena', 'required')">Por favor ingrese la contraseña</mat-error>
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>
  <mat-card-actions class="card-center">
    <button mat-raised-button color="primary" (click)="login()" [disabled]="loginFormGroup.invalid">Acceder</button>
    <button mat-button (click)="cancelar()">Cancelar</button>
  </mat-card-actions>
</mat-card>
