<h1 mat-dialog-title>
    <ng-container *ngIf="data.accion === 'nuevo'">Agregar</ng-container>
    <ng-container *ngIf="data.accion === 'editar'">Actualizar</ng-container>
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="entidadEducativaForm">
      <p>
        <ng-container *ngIf="data.accion === 'nuevo'">Ingrese los datos de la nueva entidad educatica</ng-container>
        <ng-container *ngIf="data.accion === 'editar'">Ingrese el nombre de la entidad educativa</ng-container>
      </p>
      <p>
        <mat-form-field appearance="outline" *ngIf="data.accion==='nuevo'">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigoEntidadEducativa" />
          <mat-error *ngIf="checkError('codigoEntidadEducativa', 'required')">Por favor el código de la entidad educativa</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Entidad educativa</mat-label>
          <input matInput formControlName="nombreEntidadEducativa" />
          <mat-error *ngIf="checkError('nombreEntidadEducativa', 'required')">Por favor ingrese nombre entidad educativa</mat-error>
        </mat-form-field>
        
      </p>
    </form>
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button color="primary" cdkFocusInitial (click)="aceptar()"
      [disabled]="entidadEducativaForm.invalid">Aceptar</button>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
  </div>
  