
<app-plantilla>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Tipos de discapacidades</mat-card-title>
        <button mat-mini-fab color="primary" class="icono-acciones" align="end" (click)="agregar()" title="Nuevo tipo de discapacidad">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="obtenerTiposDiscapacidades$ | async" class="mat-elevation-z8 tabla-crud">
  
          <ng-container matColumnDef="codigoTipoDiscapacidad">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.codigoTipoDiscapacidad}} </td>
          </ng-container>
  
          <ng-container matColumnDef="descripcionTipoDiscapacidad">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionTipoDiscapacidad}} </td>
          </ng-container>
  
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <button mat-mini-fab color="primary" class="icono-acciones" (click)="editar(element.codigoTipoDiscapacidad)" title="Editar tipo de discapacidad">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="icono-acciones" (click)="eliminar(element.codigoTipoDiscapacidad)" title="Eliminar tipo de discapacidad">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="['codigoTipoDiscapacidad', 'descripcionTipoDiscapacidad', 'acciones']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['codigoTipoDiscapacidad', 'descripcionTipoDiscapacidad', 'acciones'];"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </app-plantilla>
  