<app-plantilla>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Entidades educativas</mat-card-title>
        <button mat-mini-fab color="primary" class="icono-acciones" align="end" (click)="agregar()" title="Nuevo país">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="obtenerEntidadesEducativas$ | async" class="mat-elevation-z8 tabla-crud">
  
          <ng-container matColumnDef="codigoEntidadEducativa">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.codigoEntidadEducativa}} </td>
          </ng-container>
  
          <ng-container matColumnDef="nombreEntidadEducativa">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreEntidadEducativa}} </td>
          </ng-container>
  
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <button mat-mini-fab color="primary" class="icono-acciones" (click)="editar(element.codigoEntidadEducativa)" title="Editar entidad educativa">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="icono-acciones" (click)="eliminar(element.codigoEntidadEducativa)" title="Eliminar país">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="['codigoEntidadEducativa', 'nombreEntidadEducativa', 'acciones']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['codigoEntidadEducativa', 'nombreEntidadEducativa', 'acciones'];"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </app-plantilla>
  