<h1 mat-dialog-title>
    <ng-container *ngIf="data.accion === 'nuevo'">Agregar</ng-container>
    <ng-container *ngIf="data.accion === 'editar'">Actualizar</ng-container>
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="ciudadForm">
      <p>
        <ng-container *ngIf="data.accion === 'nuevo'">Ingrese los datos de la nueva ciudad</ng-container>
        <ng-container *ngIf="data.accion === 'editar'">Ingrese el nombre de la ciudad</ng-container>
      </p>
      <p>
        <mat-form-field appearance="outline" *ngIf="data.accion==='nuevo'">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigoPais" />
          <mat-error *ngIf="checkError('codigoPais', 'required')">Por favor el código del país</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input matInput formControlName="descripcionPais" />
          <mat-error *ngIf="checkError('descripcionPais', 'required')">Por favor ingrese nombre del país</mat-error>
        </mat-form-field>
        
      </p>
    </form>
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button color="primary" cdkFocusInitial (click)="aceptar()"
      [disabled]="ciudadForm.invalid">Aceptar</button>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
  </div>
  