<app-plantilla>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Distancias</mat-card-title>
        <button mat-mini-fab color="primary" class="icono-acciones" align="end" (click)="agregar()" title="Nueva distancia">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="obtenerDistancias$ | async" class="mat-elevation-z8 tabla-crud">
  
          <ng-container matColumnDef="codigoDistancia">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.codigoDistancia}} </td>
          </ng-container>
  
          <ng-container matColumnDef="descripcionDistancia">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionDistancia}} </td>
          </ng-container>
  
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <button mat-mini-fab color="primary" class="icono-acciones" (click)="editar(element.codigoDistancia)" title="Editar distancia">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="icono-acciones" (click)="eliminar(element.codigoDistancia)" title="Eliminar distancia">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="['codigoDistancia', 'descripcionDistancia', 'acciones']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['codigoDistancia', 'descripcionDistancia', 'acciones'];"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </app-plantilla>
  